---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About the balls";

const identity = {
firstName: "mother-finder",
           country: "Beach-land",
           occupation: "seed-planter",
           hobbies: ["balls-deeping","ass-staring","touf-touf"],
};

const skills = ["touf-touf", "ass-staring", "ass-slapping", "ass-judging", "balls-clapping (yes for real!)"];

const happy = true;
const started = true;
const goal = 3;

const skillColour = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{skillColour, fontWeight, textCase}}>
h1 {
color: purple;
       font-size: 4rem;
}
.skill {
color: var(--skillColour);
       font-weight: var(--fontWeight);
       text-transform: var(--textCase);
}
</style>

    <BaseLayout>
    <h1>{pageTitle}</h1>
    <h2>Miss me with that "{pageTitle}" page </h2>
        <h2>Andd this is my shaggy-balls site, don't ask me astro cli came up with it.</h2>
        <h2>Pooosooooo???;;;; OOOOLLOOOO.... touf...touftouftouffff!</h2>
            <p>They are a lot of dashes in this place i start to like them ahhahah</p>
            <p>This is a tutorial so please bear with me </p>
            <p>Yes yes i use git add . because im a chad then git commit with an -m because im a giga chad and then i git push dat sh****t</p>

    <p>Here's two shits about this annoying thins</p>
    <p> iITS VERIFIED modoasukcaaaaa https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key</p>
    <ul>
      <li>Das name ist {identity.firstName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to na plenw ta balakia mou sti paralia</p>}

    {started && <p>Summer is about to start</p>}

    {goal === 3 ? <p>production ready in 3 months</p> : <p>My goal is not 3 days.</p>}

    </BaseLayout>
