---
const pageTitle = "About the balls";

const identity = {
  firstName: "Noman",
  country: "Greece",
  occupation: "Freelancer",
  hobbies: ["jiu-jitsu","climbing","gym"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "python"];

const happy = true;
const started = true;
const goal = 3;
---

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro balls yas yas</title>
  </head>

  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>
    <h1>Miss me with that "{pageTitle}" page </h1>
        <h2>Andd this is my shaggy-balls site, don't ask me astro cli came up with it.</h2>
            <p>This is a tutorial so please bear with me </p>
            <p>Yes yes i use git add . because im a chad then git commit with an -m because im a giga chad and then i git push dat sh****t</p>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>

    {happy && <p>I am happy to na plenw ta balls mou sti paralia</p>}

    {started && <p>Summer is about to start</p>}

    {goal === 3 ? <p>production ready in 3 months</p> : <p>My goal is not 3 days.</p>}

  </body>

</html>
